
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto  my-auto">
        <div class="card">
            <div class="card-body">
              <app-homepage-chart></app-homepage-chart>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mx-auto my-auto">
        <div class="card" >
            <div class="card-body">
                <form [formGroup] = "stockForm" (ngSubmit) = "onSubmit()">
                <div class="cHeader" style= "width: auto">
                  <h3>Create New Strategy</h3>
                </div>
                <div>
                  <label for="stockName">Stock Name:</label>
                  <input formControlName = "selectedStock" type="text" class="form-control" id="stockName"  placeholder="AAPL, GOOG, MSFT" required>
                  <br>
                </div>
                <div>
                  <label for="stockQuantity">Quantity:</label>
                  <input formControlName = "selectedQuantity" type="number" min="0" class="form-control" id="quantity">
                  <br>
                </div>
                <div>
                  <label for="title">Position:</label>
                  <select formControlName = "selectedPosition" class="form-control" id="position">
                    <option>Go Long</option>
                    <option>Go Short</option>
                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Trade</button>
                </div>
              </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-profits></app-profits>










