<div class="card">
    <div class="card-body">
        <div>
            <h3>Price History for {{ticker | uppercase}}</h3>
        </div>

        <div *ngIf="priceChart">
                <canvas id="stockChart"></canvas>
        </div>
    </div>
</div>