<div *ngIf="strategiesIsEmpty(); else elseBlock">
    <h2>No strategies have been made!</h2>
    <a class="btn btn-primary btn-block" href='' role="button">Create a new strategy</a>
</div>
<ng-template #elseBlock>
        <div *ngIf="noClosedStrategies(); else elseBlock2">
            <h2>No closed strategies!</h2>
            <a class="btn btn-primary btn-block" href='/open-strategies' role="button">View Open Strategies</a>
        </div>
        <ng-template #elseBlock2>
        <h2>Closed Strategies</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" sortable="stock" (sort)="onSort($event)">Stock</th>
                    <th scope="col" sortable="size" (sort)="onSort($event)">Quantity</th>
                    <th scope="col" sortable="exit_profit_loss" (sort)="onSort($event)">Current Exit Profit Loss</th>
                    <th scope="col" sortable="lastTradePrice" (sort)="onSort($event)">Last Trade Price</th>
                    <th scope="col" sortable="profit" (sort)="onSort($event)">Profit</th>
                    <th scope="col" sortable="stopped" (sort)="onSort($event)">Stop datetime</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let strategy of strategies">
                    <td *ngIf="strategy.stopped != null"> {{ strategy.stock.ticker }}</td>
                    <td *ngIf="strategy.stopped != null">{{ strategy.size | number }}</td>
                    <td *ngIf="strategy.stopped != null">{{ strategy.exitProfitLoss | currency}}</td>
                    <td *ngIf="strategy.stopped != null">{{ strategy.lastTradePrice | currency }}</td>
                    <td *ngIf="strategy.stopped != null">{{ strategy.profit | currency }}</td>
                    <td *ngIf="strategy.stopped != null">{{ strategy.stopped | date }}</td>
                </tr>
            </tbody>
        </table>
        </ng-template>
</ng-template>