

<div *ngIf="strategiesIsEmpty() || noOpenStrategies(); else elseBlock">
    <h2>{{errorMsg}}</h2>
    <div *ngIf="displayBtn">
        <a class="btn btn-primary btn-block" href='' role="button">Create a new strategy</a>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Open Strategies</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" sortable="stock" (sort)="onSort($event)">Stock</th>
                <th scope="col" sortable="size" (sort)="onSort($event)">Quantity</th>
                <th scope="col" sortable="exit_profit_loss" (sort)="onSort($event)">Current Exit Profit Loss</th>
                <th scope="col" sortable="current_position" (sort)="onSort($event)">Current Position</th>
                <th scope="col" sortable="lastTradePrice" (sort)="onSort($event)">Last Trade Price</th>
                <th scope="col" sortable="profit" (sort)="onSort($event)">Profit</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let strategy of strategies" class="clickable-row" [routerLink]="['/open-strategies', strategy.stock.ticker]">
                    <td *ngIf="strategy.stopped == null"> {{ strategy.stock.ticker }}</td>
                    <td *ngIf="strategy.stopped == null">{{ strategy.size | number }}</td>
                    <td *ngIf="strategy.stopped == null">{{ strategy.exitProfitLoss | currency}}</td>
                    <td *ngIf="strategy.stopped == null">{{ strategy.currentPosition | positionString}}</td>
                    <td *ngIf="strategy.stopped == null">{{ strategy.lastTradePrice | currency }}</td>
                    <td *ngIf="strategy.stopped == null">{{ strategy.profit | currency }}</td>
                    
            </tr>
        </tbody>
    </table>
</ng-template>