p {
    text-align: center;
    background-color: #ceec7c;
}

div {
    background-color: #ceec7c;
}

a {
    text-align: center;
}

td:hover {
    cursor: pointer; 
}

tbody tr:hover {
    background-color: #739122;
    color: #ecf0f1;
  }
