<h2>Details for {{ ticker | uppercase }} </h2>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <app-stock-chart></app-stock-chart>
        </div>
        <div class="col-lg-4 my-auto mx-auto">
            <p><strong>Quantity:</strong> {{ currStrategy.size }}</p>
            <p><strong>Current Position: </strong>{{ currStrategy.currentPosition | positionString }}</p>
            <p><strong>Profits: </strong>{{ currStrategy.profit | currency}} </p>
        </div>
    </div>
</div>

