<nav class="navbar navbar-expand-lg navbar-light">
  <h1>{{webTitle}}</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/open-strategies">Open Strategies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink ="/closed-strategies">Closed Strategies</a>
      </li>
    </ul>
  </div>
</nav>
